PORT=3000
GROQ_API_KEY=your_groq_api_key_here
COINGECKO_API_BASE_URL=https://api.coingecko.com/api/v3
HYPERLIQUID_API_BASE_URL=https://api.hyperliquid.xyz/info
HYPERLIQUID_STATS_BASE_URL=https://stats-data.hyperliquid.xyz/mainnet/clearingService
